:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('https://m.media-amazon.com/images/I/91OGvkgkEbL.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container{
  background-color: rgba(126, 199, 218, 0.626);
  height: 43vh;
  width: 49vw;
  border-radius: 2vh;
 
}
